section,
header {
  font-family: "Lato", sans-serif;
}

.up-content-row h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

strong {
  margin: 0;
}

.up-portlet img {
  width: 99.5%;
  padding: 0.25%;
}

.up-portlet {
  will-change: transform;
  transition: transform 1s;
}

.up-portlet:hover {
  transform: scale(1.02);
}

.up-portlet--tagline {
  position: absolute;
  bottom: 0;
  width: inherit;

  color: white;
  text-shadow: 0 0 5px black;
}

.up-portlet--tagline--background {
  width: 99%;
  margin: 0.25%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.up-hero {
  position: relative;
  margin-top: 56px;
  width: 100%;
}

.up-hero img {
  width: 100%;
}

.up-hero--text {
  position: absolute;
  left: 0;
  top: 20px;

  width: 50%;
  min-width: 620px;
  max-height: 100%;
  margin: 0 auto;
  padding: 20px;

  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .up-hero--text {
    top: 0;
  }
}

@media (max-width: 620px) {
  .up-hero--text {
    min-width: 100%;
  }
}

.slick-slider {
  width: calc(100% - 40px);
  margin: 0 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
