section,
header {
  font-family: "Lato", sans-serif;
}

.up-content-row h2 {
  color: #343a40;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 20px;
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

strong {
  margin: 0;
}

.up-portlet img {
  width: 99.5%;
  padding: 0.25%;
}

.up-portlet {
  will-change: transform;
  transition: transform 1s;
}

.up-portlet:hover {
  transform: scale(1.01);
}

.up-portlet--tagline {
  position: absolute;
  bottom: 0;
  width: inherit;

  color: white;
  text-shadow: 0 0 5px black;
}

.up-portlet--tagline--background {
  width: 99%;
  margin: 0.25%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.up-hero {
  position: relative;
  margin-top: 56px;
  width: 100%;
}

.up-hero img {
  width: 100%;
}

.up-hero--text {
  position: absolute;
  left: 0;
  top: 20px;

  width: 50%;
  min-width: 620px;
  max-height: 100%;
  margin: 0 auto;
  padding: 20px;

  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .up-hero--text {
    top: 0;
  }
}

@media (max-width: 620px) {
  .up-hero--text {
    min-width: 100%;
  }
}

.slick-slider {
  width: calc(100% - 40px);
  margin: 0 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

footer {
  margin-top: 40px;
}

.up-spin-slow {
  color: #fbc02d;
  animation-duration: 120s;
}

.up-weather-marks {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -5px;
}

.up-weather-mark {
  display: inline-block;
  width: calc(100% / 13);
  border-left: 1px solid gray;
}

.up-weather-mark.even {
  height: 5px;
  margin-bottom: 2px;
}

.up-weather-mark.odd {
  height: 7px;
}

.up-weather-mark:last-child {
  width: 0;
}

.up-weather-labels {
  width: 100%;
  overflow: hidden;
}

.up-weather-label {
  text-align: center;
  display: inline-block;
  /* not sure why 96% is a magic number, 100% breaks */
  width: calc(96% / 6);
  padding-left: 1.5%;
}

.up-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.up-timeline::before {
  content: "";
  position: absolute;
  width: 10px;
  background: linear-gradient(to bottom, #000b 0%, #000b 80%, #0000 100%);
  top: 0;
  bottom: 0;
  left: 10px;
  margin-left: -3px;
}

.up-timeline-header,
.up-timeline-item,
.up-timeline-footer {
  padding: 10px 0 10px 40px;
  position: relative;
}

.up-timeline-header,
.up-task--header {
  text-decoration: underline;
}

.up-timeline-footer {
  padding-top: 0;
}

.up-timeline-item:hover,
.up-weather-hilos .row:hover,
.up-task--item:hover {
  background-color: #00000006;
}

.up-timeline-item::before {
  position: absolute;
  top: 20px;
  left: -3px;
  height: 30px;
  width: 30px;
  z-index: 1;

  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
}

.up-timeline-item:nth-child(2)::before {
  content: "\f207";
  border-color: #0277bd;
  color: #0277bd;
}

.up-timeline-item:nth-child(3)::before {
  content: "\f0c3";
  border-color: #2e7d32;
  color: #2e7d32;
}

.up-timeline-item:nth-child(4)::before {
  content: "\f2e7";
  border-color: #ad1457;
  color: #ad1457;
}

.up-timeline-item:nth-child(5)::before {
  content: "\f02d";
  border-color: #6a1b9a;
  color: #6a1b9a;
}

.up-weather-hilos {
  width: 100%;
  margin-top: 20px;
}

.up-weather-hilo {
  background-color: unset;
}

.up-weather-hilo--progress {
  border-radius: 10px;
}

.up-task--header {
  padding-top: 10px;
  margin-bottom: 25px;
}

.up-task--list {
  list-style: none;
  margin-left: -10px;
}

.up-timeline-item::before,
.up-task--item::before {
  font-family: "Font Awesome 5 Free";
  text-align: center;
  content: "";
}

.up-timeline-item::before {
  font-weight: 900;
}

.up-task--item::before {
  font-weight: 400;
  margin: 0px 5px 0 -31px;
}

.up-task--item {
  font-size: 1.6rem;
}

.up-task--item.up-in-progress::before {
  color: #0277bd;
  content: "\f35a";
}

.up-task--item.up-todo::before {
  color: #6a1b9a;
  content: "\f111";
}

.up-task--item.up-done::before {
  color: #2e7d32;
  content: "\f058";
}

.up-task--item.up-over-due::before {
  color: #ad1457;
  content: "\f057";
}
